streamlit
torch
transformers
sentence-transformers  # For CLIP and embedding models
openai            # If using GPT-based LLMs
Pillow           # For image processing
numpy
pandas

datasets
tqdm
jupyterlab_widgets
matplotlib
numpy
scikit-learn    
pandas
scipy
torchvision
google-generativeai
google-cloud-aiplatform
clip
python-dotenv